{% extends "orders/base.html" %}

{% block title %}
  Home
{% endblock %}

{% block body %}
<div class="top">
  <p>Welcome: <b>{{ user.username }}</b></p>
  <a href="{% url 'logout' %}" class="logout">logout</a>
</div>
<hr>
  {% if  message %}
    <div>
      {{ message }}
    </div>
  {% endif %}
  <div id="nav">
    <h2 class="header">WELCOME TO PINOCHIO'S PIZZA</h2>
    <div class="order">
      <a href="{% url 'cart' %}" class="order"><p>My Orders</p></a>
    </div>
  </div>
  <div class="menu">
    <table>
      <th id="th" colspan="4">Regular Pizza</th>
      <tr id="size">
        <th></th>
        <th>Small</th>
        <th>Large </th>
        <th></th>
      </tr>
      {% for pizza in regular %}
        <tr>
          <td>{{ pizza.name }}</td>
          <th>$ {{ pizza.small }}</th>
          <th>$ {{ pizza.large }}</th>
          <th><button class="btn btn-success">Buy</button></th>
        </tr>
      {% endfor %}
    </table>
    <table>
      <th id="th" colspan="4">Silican Pizza</th>
      <tr id="size">
        <th></th>
        <th>Small</th>
        <th>Large </th>
        <th></th>
      </tr>
      {% for pizza in silican %}
        <tr>
          <td>{{ pizza.name }}</td>
          <th>$ {{ pizza.small }}</th>
          <th>$ {{ pizza.large }}</th>
          <th><button class="btn btn-success">Buy</button></th>
        </tr>
      {% endfor %}
    </table>
    <table id="table">
      <th id="th" colspan="3">Toppings</th>
      {% for topping in toppings %}
        <tr>
          <td style="text-align: center;" colspan="3">{{ topping.name }}</td>
        </tr>
      {% endfor %}
    </table>
    <table>
      <th id="th" colspan="4">Subs</th>
      <tr id="size">
        <th></th>
        <th>Small</th>
        <th>Large </th>
        <th></th>
      </tr>
      {% for sub in subs %}
        <tr>
          <td>{{ sub.name }}</td>
          <th>$ {{ sub.small }}</th>
          <th>$ {{ sub.large }}</th>
          <th><button class="btn btn-success">Add</button></th>
        </tr>
      {% endfor %}
    </table>
    <table id="pasta">
      <th id="th" colspan="3">Pasta</th>
      <tr id="size">
        <th></th>
        <th>Price</th>
        <th></th>
      </tr>
      {% for pastas in pasta %}
        <tr>
          <td>{{ pastas.name }}</td>
          <th>$ {{ pastas.price }}</th>
          <th><button class="btn btn-success">buy</button></th>
        </tr>
      {% endfor %}
    </table>
    <table>
      <th id="th" colspan="3">Salads</th>
      <tr id="size">
        <th></th>
        <th>Price</th>
        <th></th>
      </tr>
      {% for salad in salads %}
        <tr>
          <td>{{ salad.name }}</td>
          <th>$ {{ salad.price }}</th>
          <th><button class="btn btn-success">buy</button></th>
        </tr>
      {% endfor %}
    </table>
    <table>
      <th id="th" colspan="4">Dinner Platters</th>
      <tr id="size">
        <th></th>
        <th>Small</th>
        <th>Large </th>
        <th></th>
      </tr>
      {% for dinners in dinner %}
        <tr>
          <td>{{ dinners.name }}</td>
          <th>$ {{ dinners.small }}</th>
          <th>$ {{ dinners.large }}</th>
          <th><button class="btn btn-success">buy</button></th>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
