{% extends "orders/base.html" %}

{% block title %}
  Registration
{% endblock %}

{% block body %}
  <h2>Welcome, Register below....</h2>
  <hr>
  {% if  message %}
    <div>
      {{ message }}
    </div>
  {% endif %}
  <hr>
  <form action="{% url 'registration' %}" method="POST" class="form-group">
    {% csrf_token %}
    <input type="text" class="form-control" name="username" placeholder="Enter username" autocomplete="off">
    <br>
    <input type="email" class="form-control" name="email" placeholder="Enter email" autocomplete="off">
    <br>
    <input type="password" class="form-control" name="password" placeholder="Enter password">
    <br>
    <button type="submit" class="btn btn-primary">Register</button>
    <br><br>
    <h6>Already registered, <a href="{% url 'index' %}">Login here</a></h6>
  </form>
{% endblock %}
